extends layout

block content
  section#todoapp
    header#header
      h1 Todos
      input(placeholder="What needs to be done?", autofocus)#new-todo
    section#main
      input(type="checkbox")#toggle-all
      label(for="toggle-all") Mark all as complete
      ul#todo-list
    footer#footer
      span#todo-count
      ul#filters
        li
          a(href="#/", class="selected") All
        li
          a(href="#/active") Active
        li
          a(href="#/completed") Completed
        button#clear-completed Clear completed
  script(src="/javascripts/build/todo.js")
